.input-container>[data-state="visible"]~.input-container_icon>.password-visible,
.input-container>[data-state="invisible"]~.input-container_icon>.password-invisible {
    display: initial;
}

.password-invisible,
.password-visible {
    display: none;
}
.sign-in {
    background-image: url(/public/green-blob.png);
    @apply bg-no-repeat;
    background-position: right -2rem top -2rem;
}